// Define variables for your color scheme

// Boostrap colors//
$blue: blue;
$green: green;
$gray: gray;
$yellow: yellow;
$red: red;
$orange: orange;
$light-gray: rgb(255, 255, 255);

// Our colors //
$card_background: white;
$card_border: #ccc;
$text_p:#D1D5DB;
$headers: black;
$light_mode_text: #6B7280;
$light_background: #F9FAFB;
$medium_icons: #D9C7FF;
$light_tags_buttons: #F2ECFE;
$primary_color: #6E2DF0;
$links_buttons: rgba(255, 255, 255, 0.55)


// DO NOT UNCOMmENT THIS SECTION

// background: linear-gradient(to bottom, #09090B, #6B7280); (home page background)
// background: linear-gradient(to bottom, #2C0CC8, #CB94D7); (logo and icons)
