.related-interests {
  margin-top: 50px;
}

.trend-metrics-title {
  color: #480DBF;
  font-size: 26px;
}

.interests-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Par défaut, deux colonnes */
  grid-gap: 20px;
  justify-items: center; /* Pour centrer les items */
  margin-top: 20px;
}

.interest-box {
  background-color: #480DBF; /* La couleur de fond des boîtes */
  color: white; /* Texte en blanc */
  padding: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  width: 100%;
  max-width: 250px; /* Limite la largeur de la boîte */
  text-align: center;
}

.interest-box .flame-icon {
  font-size: 30px;
  margin-right: 10px; /* Espace entre la flamme et le texte */
  color: white;
}

.interest-title {
  font-weight: bold;
}

.interest-score {
  font-size: 24px;
  margin-left: 5px;
}

/* Cas pour 5 intérêts */
.interests-container.five-interests {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto auto;
}

.interests-container.five-interests .interest-box:nth-child(3) {
  grid-column: 1 / -1; /* Centrer l'intérêt sur la deuxième ligne */
}

/* Responsivité */
@media (max-width: 768px) {
  .interests-container {
    grid-template-columns: 1fr; /* Une colonne sur les petits écrans */
  }

  .interest-box {
    max-width: 100%;
  }
}
