// Specific CSS for your home-page
@import "./config/_colors.scss";


p{
  font-size: 16px;
}

h1{
  font-size: 70px;
  text-align: center;
  margin: 0;
}

h2{
  font-size: 48px;
  text-align: center;
  margin: 0;
}

h3{
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 20px;
}

h4{
  font-size: 18px;
}

.footer-links {
  color: $links_buttons;
  text-decoration: none;
  font-size: 14px;
}

.footer-links:hover {
  color: white;
}


body{
  background-color: white;
  }

.section {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  overflow: hidden;
  height: 760px;
  width: 100%;

  &.gradient {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 5%, #480DBF 50%, rgba(0,0,0,1) 90%);
  }
}
  .content {
    max-width: 1200px;
    text-align: center;
    padding-bottom: 85px;
  }

.section.white{
  height: 500px;
}

.logo{
  width: 120px;
  height: 25px;
}

.btn.btn-outline.btn-floating.m-1:hover{
  color: white;
}

.container-fluid{
  height: 75px;
  }

.navbar.navbar-expand-sm.navbar-dark.bg-black.navbar-lewagon{
  height: 100px;
}

.navbar-links{
  margin-right: 10px;
  display: flex;
  }

  .nav-link {
    position: relative;
    display: inline-block;
    color: $links_buttons; /* Adjust as needed */
    text-decoration: none;
    margin-left: 40px;
  }

  .nav-link:hover{
    color: white;
  }

  .nav-link::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px; /* Underline thickness */
    background-color: #6E2DF0; /* Underline color */
    transition: width 0.3s ease-in-out;
  }

  .nav-link.active::before,
  .nav-link:hover::before {
    width: 100%; /* Full width underline */

  }

.nav-link.button{
  margin-right: 10px;
  border-style: solid;
  border-radius: 5px;
  background-color: $primary_color;
  width: 100px;
  text-align: center;
}

.step-container{
  display: flex;
}

.steps-child-container{
  border: 2px solid $card_border;
  flex: 1;
  background: #F9FAFB;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 30px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  margin: 25px;

&:hover {
  transform: scale(1.05); /* Agrandissement léger au survol */
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); /* Ombre plus marquée */
}}

.step-container:first-child{
  margin-right: 50px;
}

.step-number {
  font-size: 32px; /* Plus grand pour les étapes */
  color: #480DBF; /* Violet */
  font-weight: bold;
  margin-bottom: 15px;
}

.step-title {
  font-size: 22px;
  font-weight: normal;
  color: #333;
  margin-bottom: 15px;
}

.content{
 margin: -20px;
}

.btn.btn-primary.btn-sm.mt-4{
  background-color: rgba(117, 48, 255, 0.489); /* Vibrant purple to contrast with the background */
  color: #ffffff; /* White text for good contrast */
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(20, 19, 19, 0.2); /* Adds depth */
}


.btn.btn-primary.btn-sm.mt-4:hover{
  background: linear-gradient(135deg, rgba(117, 48, 255, 0.8), rgba(143, 50, 255, 0.9), rgba(117, 48, 255, 0.8)); /* Purple gradient */
  transform: translateY(-3px); /* Lift effect */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
  margin-left: 25px;
}

.avatar:hover{
  cursor: pointer;
}

/* Wrapper for the dropdown and arrow */
.language-select-wrapper {
  position: relative;
  display: inline-block;
  width: auto;
}

/* Style for the select dropdown */
.language-select {
  -webkit-appearance: none;  /* Remove default browser styling */
  -moz-appearance: none;     /* Remove default Firefox styling */
  appearance: none;          /* Remove default styling in other browsers */
  background-color: transparent;  /* Ensure transparent background */
  color: #333;               /* Text color */
  font-size: 14px;
  font-weight: 400;
  font-family: Arial, sans-serif;
  border: none;              /* No border */
  outline: none;             /* Remove focus outline */
  cursor: pointer;
  transition: all 0.3s ease; /* Smooth transitions */
  margin-top: 10px;
  align-items: center;
  text-align: center;
  margin-right: -10px;
}

/* Hover or focus effect - no background, just rotate the arrow */
.language-select:hover,
.language-select:focus {
  background-color: transparent;  /* Ensure no background color */
  color: white;
}

/* Remove default drop-down arrow in Internet Explorer */
.language-select::-ms-expand {
  display: none;
}

/* Container for the scrolling banner */
/* Container for the scrolling banner */
/* First scrolling banner (left to right) */
.scrolling-banner-left {
  width: 100%;
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 5%, #480DBF 95%);
  color: $links_buttons;           /* Text color */      /* Adjust padding for better visual */
  overflow: hidden;       /* Hide overflow text */
  position: relative;
  text-align: center;
  padding-bottom: 100px; /* Center align the text horizontally */    /* Height of the scrolling banner */
}


.scrolling-text-left {
  display: inline-block;
  white-space: nowrap;    /* Prevent the text from wrapping */
  animation: scroll-left 400s linear infinite; /* Smoother scrolling with a longer duration */
  font-size: 22px;        /* Font size of the text */
  font-weight: bold;      /* Make the text bold */
  line-height: 100px;     /* Vertically center the text */  /* Increase space between each text element */
}

.scrolling-text-left span {
  margin-right: 50px;    /* Add space between each text element */
}

@keyframes scroll-left {
  0% {
    transform: translateX(-1%); /* Start off-screen to the right */
  }
  100% {
    transform: translateX(-100%); /* Move to off-screen to the left */
  }
}

/* Second scrolling banner (right to left) */
.scrolling-banner-right {
  width: 100%;
  background: rgb(0,0,0);
  background: linear-gradient(180deg, #480DBF 5%, rgba(0,0,0,1) 95%);
  color: $links_buttons;           /* Text color */
  overflow: hidden;       /* Hide overflow text */
  position: relative;
  text-align: center;     /* Center align the text horizontally */
  padding-bottom: 100px;         /* Height of the scrolling banner */
}

.scrolling-text-right {
  display: inline-block;
  white-space: nowrap;    /* Prevent the text from wrapping */
  animation: scroll-right 700s linear infinite; /* Smoother scrolling with a longer duration */
  font-size: 22px;        /* Font size of the text */
  font-weight: bold;      /* Make the text bold */
  line-height: 100px;     /* Vertically center the text */
}

.scrolling-text-right span {
  margin-right: 50px;    /* Add space between each text element */
}

@keyframes scroll-right {
  0% {
    transform: translateX(-90%); /* Start off-screen to the left */
  }
  100% {
    transform: translateX(100%); /* Move to off-screen to the right */
  }
}

.bottom-banner{
  background-color: black;
}
