// Specific CSS for your home-page
@import "./config/_colors.scss";


p{
  font-size: 16px;
  color: rgb(20, 20, 20);
}

h1{
  font-size: 48px;
}

h2{
  font-size: 24px;
}

.footer-links {
  color: $links_buttons;
  text-decoration: none;
  font-size: 14px;
}

.footer-links:hover {
  color: white;
}

body{
  background-color: white;
}

.section {
  flex-direction: column;
  align-items: center;
  padding: 80px 40px;
  justify-content: center;
  display: flex;
  overflow: hidden;
  height: 750px;
  width: 100%;

  &.gradient {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 5%, rgba(110,45,240,1) 50%, rgba(0,0,0,1) 90%);
  }
}

.content {
  max-width: 1200px;
  text-align: center;
  padding: 20px;
  margin-top: -200px;
}

.section.white{
  height: 500px;
}

.logo{
  width: 120px;
  height: 25px;
}

.btn.btn-outline.btn-floating.m-1:hover{
  color: white;
}

.container-fluid{
  height: 75px;
}


.navbar-links{
  margin-right: 10px;
  display: flex;
}

.nav-link{
  margin-left: 40px;
  color: $links_buttons;
}
.nav-link:hover{
  color:white;
}


.nav-link.button{
  margin-right: 10px;
  border-style: solid;
  border-radius: 5px;
  background-color: $primary_color;
  width: 100px;
  text-align: center;
}

.step-container{
  display: flex;
}

.steps-child-container{
  border: 2px solid $card_border;
  flex: 1;
  background: #F9FAFB;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 30px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  margin: 25px;

&:hover {
  transform: scale(1.05); /* Agrandissement léger au survol */
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); /* Ombre plus marquée */
}}

.step-container:first-child{
  margin-right: 50px;
}

.step-number {
  font-size: 32px; /* Plus grand pour les étapes */
  color: #480DBF; /* Violet */
  font-weight: bold;
  margin-bottom: 15px;
}

.step-title {
  font-size: 22px;
  font-weight: normal;
  color: #333;
  margin-bottom: 15px;
}

.content{
 margin: -20px;
}

.btn.btn-primary.btn-sm.mt-4{
  background-color: $primary_color;
  border-color: $primary_color;
  color: white;
  padding: 8px 20px;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  display: inline-block;
  width: auto;
  margin-top: 50px;
}

.btn.btn-primary.btn-sm.mt-4:hover{
  background-color: #651ff0 ;
}

.avatar{
  margin-right: 10px;
  margin-left: 15px;
}
