<!-- Footer -->
<footer class="bg-black text-center">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-facebook-f fa-lg"></i
      ></a>

      <!-- Instagram -->
      <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-instagram fa-xl"></i
      ></a>

      <!-- Linkedin -->
      <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-linkedin-in fa-xl"></i
      ></a>

      <!-- Github -->
      <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-github fa-xl"></i
      ></a>
    </section>
    <!-- Section: Social media -->

    <!-- Section: Form -->

    <!-- Section: Text -->

    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row", style= "justify-content:center">

        <!--Grid column-->
        <div></div>
        <div class="col-3">
          <ul class="list-unstyled mb-0">
            <li>
              <%= link_to "Home", root_path%>
            </li>
            <li>
              <%= link_to "Login", new_user_session_path%>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-3">
          <ul class="list-unstyled mb-0">
            <li>
              <a class="text-body" href="#!">Browse trends</a>
            </li>
            <li>
              <a class="text-body" href="#!">Predict trends</a>
            </li>
            <li>
              <a class="text-body" href="#!">Favorites</a>
            </li>
            <li>
              <a class="text-body" href="#!">Link 4</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
        </div>
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
    This website has been coded by Artur, Rafael, and Lucas at Le Wagon
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->

