<div class="section gradient" data-controller="homepage">
  <div class="content">
    <h1 style="color: white;" class="animate-text">Your gateway to the latest social media trends</h1>
    <h4 style="color: white;" class="animate-text">Discover the ultimate trend tracking platform.</h4>
    <h4 style="color: white;" class="animate-text">Predict what’s next with AI-powered insights across TikTok and YouTube—stay ahead of the curve, starting today.</h4>
    <a href="/users/sign_up">
      <button class="shiny-cta animate-button">
        <span>Join us</span>
      </button>
    </a>
  </div>
</div>

<div class="section video-section" data-controller="scroll-video">
  <div class="content">
    <video autoplay loop muted class="large-video">
      <source src="/videos/7E6D69A2-3AE4-47E2-A211-1ADC237921A9.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>
</div>

<div class="section white" data-controller="steps">
  <div class="content">
    <h2 class="step-container-title" style="text-align:center; color: black">How it works</h2>
    <div class="step-container">
      <div class="steps-child-container">
        <h2 class="step-number">Step 1</h2>
        <h3 class="step-title">Explore</h3>
        <p>Quickly discover trending content across viral platforms</p>
        <p>TikTok - YouTube</p>
      </div>
      <div class="steps-child-container">
        <h2 class="step-number">Step 2</h2>
        <h3 class="step-title">Analyse</h3>
        <p>Track trends, uncover key insights, and understand what’s influencing the social media.</p>
      </div>
      <div class="steps-child-container">
        <h2 class="step-number">Step 3</h2>
        <h3 class="step-title">Predict</h3>
        <p>Unlock powerful AI insights to understand trends, spot patterns, and predict what’s next.</p>
      </div>
    </div>
  </div>
</div>

</div>
<div class="scrolling-banner-left">
  <div class="scrolling-text-left">
    <span>#popculture</span>
    <span>#viralmemes</span>
    <span>#fashiontrends</span>
    <span>#tiktokchallenge</span>
    <span>#musiclovers</span>
    <span>#fitnessmotivation</span>
    <span>#healthylifestyle</span>
    <span>#viralvideos</span>
    <span>#comedy</span>
    <span>#techtrends</span>
    <span>#travelgoals</span>
    <span>#gamerlife</span>
    <span>#foodie</span>
    <span>#artinspiration</span>
    <span>#mentalhealthawareness</span>
    <span>#gamingcommunity</span>
    <span>#selfcare</span>
    <span>#entrepreneurlife</span>
    <span>#musicfestival</span>
    <span>#lifehacks</span>
    <span>#mindfulness</span>
    <span>#fashionista</span>
    <span>#viralsongs</span>
    <span>#streetstyle</span>
    <span>#fitnessjourney</span>
    <span>#socialmediatrends</span>
    <span>#movienight</span>
    <span>#viraltiktok</span>
    <span>#musicvideo</span>
    <span>#digitalart</span>
    <span>#artcommunity</span>
    <span>#instafashion</span>
    <span>#workoutmotivation</span>
    <span>#workoutroutine</span>
    <span>#styleinspo</span>
    <span>#fashiongoals</span>
    <span>#mentalhealthmatters</span>
    <span>#influencerlife</span>
    <span>#musiclovers</span>
    <span>#travelgoals</span>
    <span>#techinnovation</span>
    <span>#foodielife</span>
    <span>#technews</span>
    <span>#tiktoktrends</span>
    <span>#viralmemes</span>
    <span>#memeculture</span>
    <span>#viralchallenge</span>
    <span>#foodgoals</span>
    <span>#viraldance</span>
    <span>#instatrends</span>
    <span>#trendingnow</span>
    <span>#loveandpeace</span>
    <span>#onlinecommunity</span>
    <span>#lifetips</span>
    <span>#streetwear</span>
    <span>#fashionaddict</span>
    <span>#tiktokdance</span>
    <span>#naturelovers</span>
    <span>#lovelife</span>
    <span>#viralvideos</span>
    <span>#hashtaglife</span>
    <span>#entrepreneurship</span>
    <span>#fitnessaddict</span>
    <span>#popculturetrends</span>
    <span>#viraltiktokchallenge</span>
    <span>#trendingontiktok</span>
    <span>#trendalert</span>
    <span>#instachallenge</span>
    <span>#viralfitness</span>
    <span>#musicvibes</span>
    <span>#trendinghashtags</span>
    <span>#selfimprovement</span>
    <span>#selflove</span>
    <span>#lifegoals</span>
    <span>#yogalife</span>
    <span>#artisticexpression</span>
    <span>#socialmediainfluencers</span>
    <span>#techtalk</span>
    <span>#viraldancechallenge</span>
    <span>#tiktokviral</span>
    <span>#healthandfitness</span>
    <span>#motivationdaily</span>
    <span>#fitnesschallenge</span>
    <span>#lifestyletrends</span>
    <span>#worldtravel</span>
    <span>#foodporn</span>
    <span>#digitalartworks</span>
    <span>#techcommunity</span>
    <span>#lifehacks2024</span>
    <span>#glamstyle</span>
    <span>#comedycentral</span>
    <span>#viralcontent</span>
    <span>#socialtrends</span>
    <span>#tiktokvibes</span>
    <span>#viralmemes2024</span>
    <span>#viralinfluencer</span>
    <span>#fitnesstransformation</span>
    <span>#gamersgoals</span>
    <span>#traveltips</span>
    <span>#trendspotting</span>
    <span>#streetfood</span>
    <span>#comedylife</span>
    <span>#viralhashtags</span>
    <span>#inspirationdaily</span>
    <span>#selfmotivation</span>
    <span>#positivevibesonly</span>
    <span>#motivationalquotes</span>
    <span>#yogachallenge</span>
    <span>#viralinspiration</span>
    <span>#fitnessgoals</span>
    <span>#creativeart</span>
    <span>#lifemotivation</span>
    <span>#tiktokviralchallenge</span>
    <span>#fitnessjourney2024</span>
    <span>#popmusic</span>
    <span>#dancevibes</span>
    <span>#healthyeating</span>
    <span>#viralmusic</span>
    <span>#gamercommunity</span>
    <span>#foodieheaven</span>
    <span>#streetfashion</span>
    <span>#fitnessinspiration</span>
    <span>#techlife</span>
    <span>#tiktokchallenges2024</span>
    <span>#techworld</span>
    <span>#foodlovers</span>
    <span>#mentalwellness</span>
    <span>#viralmemes2024</span>
    <span>#techtrends2024</span>
    <span>#loveyourself</span>
    <span>#fitnessmotivation2024</span>
    <span>#tiktoklifestyle</span>
    <span>#worldculture</span>
    <span>#healthychoices</span>
    <span>#foodgoals2024</span>
    <span>#lifehacksforyou</span>
    <span>#techupdates</span>
    <span>#artanddesign</span>
    <span>#selfdiscovery</span>
    <span>#healthyliving</span>
    <span>#tiktokfamous</span>
    <span>#dancetrend</span>
    <span>#musicgoals</span>
    <span>#fitnesschallenge2024</span>
    <span>#fitnesslife</span>
    <span>#viralchallenge2024</span>
    <span>#inspirationforlife</span>
    <span>#foodrecipes</span>
    <span>#techsavvy</span>
    <span>#viralfitnesschallenge</span>
    <span>#fitnessaddiction</span>
    <span>#streetart</span>
    <span>#popculturevibes</span>
    <span>#travellife</span>
    <span>#viraldancemove</span>
    <span>#fitnessgoals2024</span>
  </div>
</div>
<div>
<h2 style= "text-align: center; background-color: #480DBF; color: rgba(255, 255, 255, 0.85)">Trending <span style='font-weight: bold; color:white'>now</span></h2>
</div>
<div class="scrolling-banner-right">
  <div class="scrolling-text-right">
    <span>#popculture</span>
    <span>#viralmemes</span>
    <span>#fashiontrends</span>
    <span>#tiktokchallenge</span>
    <span>#musiclovers</span>
    <span>#fitnessmotivation</span>
    <span>#healthylifestyle</span>
    <span>#viralvideos</span>
    <span>#comedy</span>
    <span>#techtrends</span>
    <span>#travelgoals</span>
    <span>#gamerlife</span>
    <span>#foodie</span>
    <span>#artinspiration</span>
    <span>#mentalhealthawareness</span>
    <span>#gamingcommunity</span>
    <span>#selfcare</span>
    <span>#entrepreneurlife</span>
    <span>#musicfestival</span>
    <span>#lifehacks</span>
    <span>#mindfulness</span>
    <span>#fashionista</span>
    <span>#viralsongs</span>
    <span>#streetstyle</span>
    <span>#fitnessjourney</span>
    <span>#socialmediatrends</span>
    <span>#movienight</span>
    <span>#viraltiktok</span>
    <span>#musicvideo</span>
    <span>#digitalart</span>
    <span>#artcommunity</span>
    <span>#instafashion</span>
    <span>#workoutmotivation</span>
    <span>#workoutroutine</span>
    <span>#styleinspo</span>
    <span>#fashiongoals</span>
    <span>#mentalhealthmatters</span>
    <span>#influencerlife</span>
    <span>#musiclovers</span>
    <span>#travelgoals</span>
    <span>#techinnovation</span>
    <span>#foodielife</span>
    <span>#technews</span>
    <span>#tiktoktrends</span>
    <span>#viralmemes</span>
    <span>#memeculture</span>
    <span>#viralchallenge</span>
    <span>#foodgoals</span>
    <span>#viraldance</span>
    <span>#instatrends</span>
    <span>#trendingnow</span>
    <span>#loveandpeace</span>
    <span>#onlinecommunity</span>
    <span>#lifetips</span>
    <span>#streetwear</span>
    <span>#fashionaddict</span>
    <span>#tiktokdance</span>
    <span>#naturelovers</span>
    <span>#lovelife</span>
    <span>#viralvideos</span>
    <span>#hashtaglife</span>
    <span>#entrepreneurship</span>
    <span>#fitnessaddict</span>
    <span>#popculturetrends</span>
    <span>#viraltiktokchallenge</span>
    <span>#trendingontiktok</span>
    <span>#trendalert</span>
    <span>#instachallenge</span>
    <span>#viralfitness</span>
    <span>#musicvibes</span>
    <span>#trendinghashtags</span>
    <span>#selfimprovement</span>
    <span>#selflove</span>
    <span>#lifegoals</span>
    <span>#yogalife</span>
    <span>#artisticexpression</span>
    <span>#socialmediainfluencers</span>
    <span>#techtalk</span>
    <span>#viraldancechallenge</span>
    <span>#tiktokviral</span>
    <span>#healthandfitness</span>
    <span>#motivationdaily</span>
    <span>#fitnesschallenge</span>
    <span>#lifestyletrends</span>
    <span>#worldtravel</span>
    <span>#foodporn</span>
    <span>#digitalartworks</span>
    <span>#techcommunity</span>
    <span>#lifehacks2024</span>
    <span>#glamstyle</span>
    <span>#comedycentral</span>
    <span>#viralcontent</span>
    <span>#socialtrends</span>
    <span>#tiktokvibes</span>
    <span>#viralmemes2024</span>
    <span>#viralinfluencer</span>
    <span>#fitnesstransformation</span>
    <span>#gamersgoals</span>
    <span>#traveltips</span>
    <span>#trendspotting</span>
    <span>#streetfood</span>
    <span>#comedylife</span>
    <span>#viralhashtags</span>
    <span>#inspirationdaily</span>
    <span>#selfmotivation</span>
    <span>#positivevibesonly</span>
    <span>#motivationalquotes</span>
    <span>#yogachallenge</span>
    <span>#viralinspiration</span>
    <span>#fitnessgoals</span>
    <span>#creativeart</span>
    <span>#lifemotivation</span>
    <span>#tiktokviralchallenge</span>
    <span>#fitnessjourney2024</span>
    <span>#popmusic</span>
    <span>#dancevibes</span>
    <span>#healthyeating</span>
    <span>#viralmusic</span>
    <span>#gamercommunity</span>
    <span>#foodieheaven</span>
    <span>#streetfashion</span>
    <span>#fitnessinspiration</span>
    <span>#techlife</span>
    <span>#tiktokchallenges2024</span>
    <span>#techworld</span>
    <span>#foodlovers</span>
    <span>#mentalwellness</span>
    <span>#viralmemes2024</span>
    <span>#techtrends2024</span>
    <span>#loveyourself</span>
    <span>#fitnessmotivation2024</span>
    <span>#tiktoklifestyle</span>
    <span>#worldculture</span>
    <span>#healthychoices</span>
    <span>#foodgoals2024</span>
    <span>#lifehacksforyou</span>
    <span>#techupdates</span>
    <span>#artanddesign</span>
    <span>#selfdiscovery</span>
    <span>#healthyliving</span>
    <span>#tiktokfamous</span>
    <span>#dancetrend</span>
    <span>#musicgoals</span>
    <span>#fitnesschallenge2024</span>
    <span>#fitnesslife</span>
    <span>#viralchallenge2024</span>
    <span>#inspirationforlife</span>
    <span>#foodrecipes</span>
    <span>#techsavvy</span>
    <span>#viralfitnesschallenge</span>
    <span>#fitnessaddiction</span>
    <span>#streetart</span>
    <span>#popculturevibes</span>
    <span>#travellife</span>
    <span>#viraldancemove</span>
    <span>#fitnessgoals2024</span>
  </div>
</div>
