
<div class="section gradient">
  <div class="content">
    <h1 style="color: white;">Your gateway to the latest social media trends</h1>
    <h2 style="color: white;">Discover the ultimate trend tracking platform.</h2>
    <h2 style="color: white;">Predict what’s next with AI-powered insights across TikTok and YouTube—stay ahead of the curve, starting today.</h2>
    <a href="/users/sign_up" class="btn btn-primary btn-sm mt-4">Join us</a>
  </div>
</div>
<div class="section white">
  <div class="content">
    <h1 style="text-align:center; color: black">How it works</h1>
    <div class="step-container">
      <div class="steps-child-container">
        <h2 class="step-number">Step 1</h2>
        <h3 class="step-title">Explore</h3>
        <p>Quickly discover trending content across viral platforms</p>
        <p>TikTok - YouTube</p>
      </div>
      <div class="steps-child-container">
        <h2 class="step-number">Step 2</h2>
        <h3 class="step-title">Analyse</h3>
        <p>Track trends, uncover key insights, and understand what’s influencing the social media.</p>
      </div>
      <div class="steps-child-container">
        <h2 class="step-number">Step 3</h2>
        <h3 class="step-title">Predict</h3>
        <p>Unlock powerful AI insights to understand trends, spot patterns, and predict what’s next.</p>
      </div>
    </div>
  </div>
</div>
</div>
