
<div class="section gradient">
  <div class="content">
    <h1 style="color: white;">Step into style, anytime, anywhere</h1>
    <p style="color: white;">Discover the ultimate footwear rental platform</p>
    <p style="color: white;">Access high-end shoes for any occasion, without the commitment—style made easy, starting today</p>
    <a href="/users/sign_up" class="btn btn-primary btn-sm mt-4">Join us</a>
  </div>
</div>
<div class="section white">
  <div class="content">
    <h1 style="text-align:center; color: black">How it works</h1>
    <div class="step-container">
      <div class="steps-child-container">
        <h2 class="step-number">Step 1</h2>
        <h3 class="step-title">Explore</h3>
        <p>Quickly discover trending content across viral platforms</p>
        <p>TikTok - YouTube</p>
      </div>
      <div class="steps-child-container">
        <h2 class="step-number">Step 2</h2>
        <h3 class="step-title">Analyse</h3>
        <p>Track trends, uncover key insights, and understand what’s influencing the social media.</p>
      </div>
      <div class="steps-child-container">
        <h2 class="step-number">Step 3</h2>
        <h3 class="step-title">Predict</h3>
        <p>Unlock powerful AI insights to understand trends, spot patterns, and predict what’s next.</p>
      </div>
    </div>
  </div>
</div>
</div>
