.form-label.select.required{
  font-weight: bold;
  color: black;
  }

  .form-label.integer.required{
  font-weight: bold;
  color: black;
  }

  .form-label.decimal.required{
  font-weight: bold;
  color: black;
  }

  .form-label.text.optional{
  font-weight: bold;
  color: black;
  }

  .form-label.string.required{
  font-weight: bold;
  color: black;
  }

  .form-label.file.optional{
  font-weight: bold;
  color: black;
  }

  .form-control.string.required.flatpickr-input{
  justify-items: center;
  color: black;
  }

  .form-label.email.optional{
  font-weight: bold;
  color: black;
  }

  .form-label.password.optional{
  font-weight: bold;
  color: black;
  }

  .form-label.email.required{
  font-weight: bold;
  color: black;
  }

  .form-label.tel.required{
  font-weight: bold;
  color: black;
  }

  .form-label.password.required{
  font-weight: bold;
  color: black;
  }

  .form-label.text.required{
  font-weight: bold;
  color: black;
  }

  .form-check-label.boolean.optional{
  color: black;
  }

  .form-control.is-valid.string.optional{
    color: black;
    text-align: center;
  }
