.select2 {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.25rem;
}

/* Spacing and font adjustments */
.list-group-item {
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem
}

.margin {
  margin-top: -50px;
}

.top {
  margin-top: 7px;
}

.right {
  margin-left: 10px;
  margin-right: 10px;
}
