body {
  background-color: white;
}

.table-custom {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-bottom: 20px;

  // Styling for the table header
  thead {
    background-color: #f8f9fa;
    color: #495057;
    font-weight: bold;
  }

  // Make the header cells smaller by reducing padding
  thead th {
    padding: 20px 15px; // Reduce the padding to make header height smaller
  }

  // Table rows
  tbody tr {
    cursor: pointer;
    &:hover {
      transition: 0.3s;
      background-color: rgba(72, 13, 191, 0.15); /* #480DBF with more transparency */
    }
  }

  // Table cells
  th, td {
    font-size: 18px;
    padding: 30px 15px;
    text-align: left;
  }

  // Remove the bottom border from the last row
  tr:last-child td {
    border-bottom: none;
  }

  // Styling for the first column (Rank)
  td:first-child {
    font-size: 1.5rem; // Increase the font size for the "Rank" column
    font-weight: bold; // Make the rank text bold
  }

  // Styling for the first row (headings)
  th {
    font-size: 20px;
    border-top: 1px solid #dee2e6;
    border-bottom: 2px solid #dee2e6;
  }
}

.table-custom-youtube{
  width: 100%;
  border-collapse: collapse;
  margin-top: -27px;
  margin-bottom: 20px;

  // Styling for the table header
  thead {
    background-color: #f8f9fa;
    color: #495057;
    font-weight: bold;
  }

  // Make the header cells smaller by reducing padding
  thead th {
    padding: 20px 15px; // Reduce the padding to make header height smaller
  }

  // Table rows
  tbody tr {
    cursor: pointer;
    &:hover {
      transition: 0.3s;
      background-color: rgba(72, 13, 191, 0.15); /* #480DBF with more transparency */
    }
  }

  // Table cells
  th, td {
    font-size: 18px;
    padding: 30px 15px;
    text-align: left;
  }

  // Remove the bottom border from the last row
  tr:last-child td {
    border-bottom: none;
  }

  // Styling for the first column (Rank)
  td:first-child {
    font-size: 1.5rem; // Increase the font size for the "Rank" column
    font-weight: bold; // Make the rank text bold
  }

  // Styling for the first row (headings)
  th {
    font-size: 20px;
    border-top: 1px solid #dee2e6;
    border-bottom: 2px solid #dee2e6;
  }
}

.banner {
  background-color: black; // Replace with the actual path to your image
  background-size: cover; // Ensures the image covers the entire div
  background-position: center; // Centers the background image
  height: 400px; // Set a fixed height for the banner
  color: white; // Text color to contrast against the background image
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); // Adds a subtle shadow to the text for better readability
  margin-bottom: 100px;

  // Use flexbox to position the text
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; // Aligns the content to the left (flex-start)

  padding: 0 20px; // Adds horizontal padding for some space on the left

  h1 {
    font-size: 5rem; // Adjust font size for the title
    font-weight: bold;
  }

  p {
    font-size: 2rem; // Adjust font size for the subtitle
    font-weight: bold;
  }
}
.highlight {
  color: #7d3bff;
  font-weight: bold;
}

.trash-icon-link{
  text-decoration: none;
}

.form-group.search{
  margin-top: 18px;
  width: 505px;
  justify-content: right;
  padding-top: 40px;
}

/* Container for the form */
.custom-form { /* Add some padding */
  border-radius: 15px; /* Rounded corners */
  float: left; /* Align to the left */
  margin-top: 20px; /* Add some top margin if needed */
  display: flex;
  flex-direction: column;/* Use flexbox for side-by-side layout */
  align-items: center; /* Vertically align items */
  margin-bottom: 10px;
}



/* Form inputs and select */
.custom-form .form-group {
  margin-bottom: 0; /* Remove bottom margin */
  flex-grow: 1; /* Allow the select to take up available space */
}

.custom-form label {
  font-size: 32px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-left: 15px;
}

.custom-select {
  width: 100%; /* Full width for select */
  padding: 8px 12px; /* Smaller padding */
  font-size: 18px; /* Smaller text */
  border-radius: 20px; /* Rounded select */
  background-color: #fff; /* White background */
  border: 1px solid #dee2e6;; /* Light border */
}

.custom-btn {
  border-radius: 20px; /* Rounded corners for the button */
  padding: 8px 20px; /* Button padding */
  font-size: 14px; /* Smaller text size */
  background-color: #420bb0; /* Primary color */
  border: none; /* Remove default border */
  color: #fff; /* Text color */
  transition: background-color 0.3s ease;
  margin-top: 40px;
  height: 38px;
}

.custom-btn:hover {
  background-color: #420bb0; /* Darker button on hover */
}

.custon-btn:active {
  background-color: #420bb0;
}

.form-control.custom-select{
  width: 200px;
}

.custom-input {
  border-radius: 25px; /* Adjust value to make the corners more or less rounded */
  height: 50px;
  margin-top: 38px;
  font-size: 14px;
  width: 250px;
  margin-right: 10px;
}

.crazy {
  height: 38px;
  margin-top: 44px;
}


.esquerda {
  font-size: 48px;
}

.esquerda strong {
  color: #420bb0;
}

.override {
  margin-top: -8px;
}

.ok {
  margin-top: 45px;
}

.plaform-options{
  display: flex;
  justify-content: space-around;
}






.tiktok-page-icons {
  display: flex;
  gap: 20px; /* Space between options */
  justify-content: center; /* Center align the options */
  margin-top: 20px;
}

.page-option {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 16px; /* Text size */
  color: #777; /* Default text color */
  transition: color 0.3s, transform 0.3s;
}

.page-option i {
  font-size: 20px; /* Icon size */
  margin-right: 8px; /* Space between icon and text */
}

.page-option.active {
  color: #480DBE; /* Active state color */
  font-weight: bold;
}

.page-option:hover {
  color: #480DBE; /* Hover effect */
  transform: scale(1.1); /* Slight scale on hover */
}

input[type="radio"]:checked + label {
  color: #480DBE; /* Ensure active color applies */
}


.linha {
  border: 1px solid red;
}
.platform-button {
  cursor: pointer;
  font-size: 30px; /* Adjust icon size */
  background-color: transparent; /* No background by default */
  border: none; /* Remove border */
  padding: 10px;
  transition: transform 0.3s;
  color: #808080; /* Default icon color */
}


/* Hover effect */
.platform-button:hover {
  transform: scale(1.2);
}

.platform-button:hover i {
  color: #480DBE; /* Purple color on hover */
}

/* Active state */
.platform-button.active {
  color: #480DBE; /* White icon for active platform */
}

.platform-button.active i {
  color: #480DBE; /* Ensure icon color stays white */
}

.platform-options, .page-options {
  display: flex;
  gap: 20px; /* Space between icons */
}

.platform-button, .page-option {
  text-decoration: none;
  color: inherit;
  font-size: 24px;
  text-align: center;
  padding: 10px;
}

.platform-button.active, .page-option.active {
  color: #480DBE; /* Active color for selected platform */
}

.page-header {
  font-size: 32px;
  color: black;
  font-weight: bold;
  padding-top: 8px;
  margin-bottom: 20px;
}

.page-options {
  gap: 30px;
}

.page-option i, .platform-button i {
  font-size: 32px; /* Icon size */
  margin-bottom: 5px; /* Space between icon and text */
}

.page-option span, .platform-button span {
  display: block;
  margin-top: 5px;
}

.platform-button i {
  color: gray; /* Default color */
}

.platform-button.active i {
  color: #480DBE; /* Active color */
}

.container-filter{
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
}

.platform-selector.text-center{
  justify-content: center;
  text-align: center;
  align-items: center;
  padding-top: 30px;
}

.platform-label.animate-banner{
  font-size: 32px;
  margin-bottom: 20px;
}

.banner.text-center{
  margin-bottom: 75px;
}

.platforms-search{
  display: flex;
  justify-content: space-around;
}


.platform-button.active {
  color: white;
}
