// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.contentonly {
  flex: 1;
}

.footer{
  padding: 25px 50px; // you don't need to specify the height of the footer, do it through padding
  width: 100%;
}
